# Range Method in Python

Range method is nothing but the predefine method .Which is used to generate the series.
from collection or objfects or interable or no. fron min to max...

Threr are 3 parameter Range()
1 Start
2 Stop
3 Step

In [20]:
#Example 1
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
#Example 2 Print the 2 Table
for i in range (2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
#Example 3 Print the 3 Table
for i in range (3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [12]:
#Example 4 Print the 4 Table
for i in range (4,41,4):
    print(i)

4
8
12
16
20
24
28
32
36
40

In [13]:
#Example 5 Print the 5 Table
for i in range (5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [14]:
#Example 6 Print the 6 Table
for i in range (6,61,6):
    print(i)

6
12
18
24
30
36
42
48
54
60

In [15]:
#Example 7 Print the 7 Table
for i in range (7,71,7):
    print(i)

7
14
21
28
35
42
49
56
63
70

In [17]:
#Example 8 Print the 7Table
for i in range (8,81,8):
    print(i)

8
16
24
32
40
48
56
64
72
80

In [18]:
#Example 9 Print the 9 Table
for i in range (9,91,9):
    print(i)

9
18
27
36
45
54
63
72
81
90

In [21]:
#Example 10 Print the 10 Table
for i in range (10,101,10):
    print(i)

10
20
30
40
50
60
70
80
90
100

In [40]:
#Example 11
course =["BSC","MBA","MCA","BCA"]
for x in course:
    print(x)

BSC
MBA
MCA
BCA

In [41]:
#Example 12
course =["BSC","MBA","MCA","BCA"]
for x in course:
    print(x,end=" ")

BSC MBA MCA BCA

In [45]:
#Example 13
Friends =["Mahevash","Ishwari","Anjali","Vaishnavi","Aprna","etc"]
for i in Friends:
          print(i)

Mahevash
Ishwari
Anjali
Vaishnavi
Aprna
etc

In [46]:
#Example 14
Friends =["Mahevash","Ishwari","Anjali","Vaishnavi","Aprna","etc"]
for i in Friends:
          print(i,end=" ")

Mahevash Ishwari Anjali Vaishnavi Aprna etc

In [53]:
#Example 15
Friends = {'Name':"Ishwari",}
for i in Friends:
          print(Friends,end=" ")

{'Name': 'Ishwari'}

In [55]:
#Example 16

for i in range(10):
          print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [56]:
#Example 17

for i in range(1):
          print(i,end=" ")

0

In [62]:
#Example 18
for i in range(2):
          print(i,end=" ")

0 1

In [67]:
#Example 19 [we can used else with for loop]
for i in range(11):
    print(i)
else:
        print("All is Well")

0
1
2
3
4
5
6
7
8
9
10
All is Well

In [68]:
#Example 19 [we can used else with for loop]
for i in range(11):
    print(i,end=" ")
else:
        print("All is Well")

0 1 2 3 4 5 6 7 8 9 10 All is Well

# WAP Factorial Number

In [5]:
n= int(input("Enter the value n:"))
f = 1
for i in range(1,n+1,1):
    f = f*i

print("Factorial of {} is {}".format(n,f))

Enter the value n:8
Factorial of 8 is 40320