# Tuple in python

Tuple is nothing but the ordered collection of different data elements or objects..but it is can't Modify in python,tuples are created by placing sequence of value seprated by comma with or without used parameter.

Syntax: Var_name=(List of element)

Example: T1=('Misba','Husain')

In [2]:
#Example 1 Empty Tuple
T=()
print(type(T))

<class 'tuple'>

In [1]:
#Example 2 initialize Element
T=("computer","Statistics","Electronic",[50,50,50])
print(T)

('computer', 'Statistics', 'Electronic', [50, 50, 50])

In [2]:
#Example 3 collection of lists in a tuple
a=[100,200,300,400,500]
b=["C","C++","JAVA","HTML","CSS"]
c=(a,b)
print(c)

([100, 200, 300, 400, 500], ['C', 'C++', 'JAVA', 'HTML', 'CSS'])

In [4]:
#Example 4 Tuple is immutable-----------> it is can't Modify
a=("computer","Electronics",[100,200])
print(a)
a.apend("Statistics")
print(a)

('computer', 'Electronics', [100, 200])

AttributeError: 'tuple' object has no attribute 'apend'

In [8]:
#Example 5 Tuple in Tuple
A=("Computer","Electronics","Statistics")
Marks=(80,80,80)
Tmarks=(100)
Result=(A,Marks,Tmarks)
print(Result)

(('Computer', 'Electronics', 'Statistics'), (80, 80, 80), 100)